---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"a"> & {
  asChild?: boolean;
};

export const breadcrumbLink = tv({
  base: "hover:text-foreground transition-colors inline-flex items-center",
});

const { class: className, asChild = false, ...rest } = Astro.props;
---

{
  asChild ? (
    <slot />
  ) : (
    <a class={breadcrumbLink({ class: className })} data-slot="breadcrumb-link" {...rest}>
      <slot />
    </a>
  )
}
