---
/**
 * * This component is used to add target="_blank" and rel="noopener noreferrer" to external links
 * * and to links to /discord (which redirect to Discord, so open in new tab)
 * * and also ensure the link is relative to the current locale
 * Used in docs pages so you don't have to worry about that when writing markdown / mdx
 */

import { getLocaleFromUrl } from "@/docs/js/localeUtils";
import { resolveSharedDocsHrefFromPath } from "@/docs/js/docsUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const pathname = Astro.url.pathname;

const { href }: Record<string, any> = Astro.props;

const domain = import.meta.env.SITE; // pulls from astro.config.mjs
let attr: { target?: string; rel?: string } = {};

const isExternal = !href.includes(domain) && !href.startsWith("/") && !href.startsWith("#");
const isDiscordLink = href === "/discord" || href.endsWith("/discord");

if (isExternal || isDiscordLink) {
  attr["target"] = "_blank";
  attr["rel"] = "noopener noreferrer";
}

let actualLink: string;
if (isExternal) {
  actualLink = href;
} else {
  actualLink = resolveSharedDocsHrefFromPath(href, pathname);
}
// remove trailing slash so IDs will work
if (actualLink.endsWith("/") && actualLink !== "/") {
  actualLink = actualLink.slice(0, -1);
}
---

<a href={actualLink} {...attr}><slot /></a>
