---
import { getAllPosts } from "@js/blogUtils";
import { getLocaleFromUrl } from "@js/localeUtils";
import BaseLayout from "@layouts/BaseLayout.astro";
// import BlogIndexLayout from "@layouts/BlogIndexLayout1.astro";
import BlogIndexLayout from "@layouts/BlogIndexLayout2.astro";

const currLocale = getLocaleFromUrl(Astro.url);
const posts = await getAllPosts(currLocale, true); // exclude archived posts (archive/)

const filterCategories = [
  "Customer Story",
  { id: "releases-platform", label: "Releases Platform" },
  { id: "releases-cli", label: "Releases CLI" },
  "Guide",
  "News",
];
---

<BaseLayout
  title="Plumber Blog - CI/CD Compliance and Project Governance"
  description="Learn DevOps best practices for CI/CD compliance, pipeline governance, drift detection, and automated, secure deployments."
>
  <div class="site-container mt-24 md:mt-36">
    <div class="flex">
      <p class="colored-title">Our blog</p>
    </div>
    <div class="mt-6 flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
      <h1 class="h2">Learn about CI/CD compliance, DevOps best practices, and governance guides to secure your pipelines.</h1>
    </div>
    <BlogIndexLayout posts={posts} filterCategories={filterCategories} class="mt-10" />
  </div>
  <div class="mt-6 site-container">

    <a
    href="/blog/archive"
    class=" text-base-content/60 hover:text-base-content text-right text-sm underline"
    >
    View blog archive
  </a>
</div>
</BaseLayout>
